.bigbox{
    height:300px;
    padding:100px
}
.box{
    width:400px;
    border:1px solid #ddd;
    margin:0 auto;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}
.title{
    margin-bottom:20px;
}